<h1>about page</h1>

<p>a simple ruby web application which allows CRUD operations for user created articles</p>

<%= link_to 'view the articles index', articles_path %> |
<%= link_to 'home', root_path %>
