<h1>hello world . . .</h1>

<%= link_to 'view the about page', about_path %> |
<%= link_to 'view the articles index', articles_path %> |
<%= link_to 'view user profiles', users_path %> |
<%= link_to 'sign up', signup_path %>

